@model SVPP.Models.Nonprofit
@using Microsoft.AspNetCore.Authorization
@using SVPP.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Organization_Name)</h1>

<div>
    <h4>Nonprofit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Focus_Area1)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Focus_Area1)
        </dd>
        <dt class="col-sm-4">
            Focus Area #2
        </dt>
        @if (Model.Focus_Area2 != null)
        {
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Focus_Area2)
            </dd>
        }
        else
        {
            <dd class="col-sm-8">
                N/A
            </dd>
        }
        <dt class="col-sm-4">
            Focus Area #3
            <br />
        </dt>
        @if (Model.Focus_Area3 != null)
        {
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Focus_Area3)
            </dd>
        }
        else
        {
            <dd class="col-sm-8">
                N/A
            </dd>
        }
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Date_Founded)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Date_Founded)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Phone_Number)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Phone_Number)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Street_Address)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Street_Address)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Zip_Code)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Zip_Code)
        </dd>
        <dt class="col-sm-4">
            Website
        </dt>
        @if (Model.Website != null)
        {
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Website)
            </dd>
        }
        else
        {
            <dd class="col-sm-8">
                N/A
            </dd>
        }
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Executive_Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Executive_Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Contact_Name)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Contact_Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Contact_Title)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Contact_Title)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Contact_Email)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Contact_Email)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Contact_Phone)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Contact_Phone)
        </dd>
        <dt class="col-sm-4">
            Facebook Page
        </dt>
        @if (Model.Facebook_Id != null)
        {
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Facebook_Id)
            </dd>
        }
        else
        {
            <dd class="col-sm-8">
                N/A
            </dd>
        }
        <dt class="col-sm-4">
            Twitter Handle
        </dt>
        @if (Model.Twitter_Id != null)
        {
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Twitter_Id)
            </dd>
        }
        else
        {
            <dd class="col-sm-8">
                N/A
            </dd>
        }
        <dt class="col-sm-4">
            Instagram Page
        </dt>
        @if (Model.Instagram_Id != null)
        {
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Instagram_Id)
            </dd>
        }
        else
        {
            <dd class="col-sm-8">
                N/A
            </dd>
        }
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Mission)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Mission)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Programs)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Programs)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Challenges)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Challenges)
        </dd>
        @if (this.User.IsInRole("Admin") || this.User.IsInRole("Nonprofit"))
        {
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Tax_Status)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Tax_Status)
            </dd>
            <dt class="col-sm-4">
                Tax ID
            </dt>
            @if (Model.Tax_Id != null)
            {
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Tax_Id)
                </dd>
            }
            else
            {
                <dd class="col-sm-8">
                    N/A
                </dd>
            }
        }
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Skill_1)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Skill_1)
        </dd>
        <dt class="col-sm-4">
            Desired Skill #2
        </dt>
        @if (Model.Skill_2 != null)
        {
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Skill_2)
            </dd>
        }
        else
        {
            <dd class="col-sm-8">
                N/A
            </dd>
        }
        <dt class="col-sm-4">
            Desired Skill #3
        </dt>
        @if (Model.Skill_3 != null)
        {
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Skill_3)
            </dd>
        }
        else
        {
            <dd class="col-sm-8">
                N/A
            </dd>
        }
        @if (this.User.IsInRole("Admin"))
        {
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Active)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Active)
            </dd>
        }

    </dl>
</div>
<div>
    @if (this.User.IsInRole("Admin") || (await AuthorizationService.AuthorizeAsync(User, @Model, Operations.ModelOperations.Update)).Succeeded)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit | </a>

    }
    <a asp-action="Index">Back to List</a>
</div>
